<div class="container text-center">
    <h1>D&D Battle Tracker</h1>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Monster</th>
            <th>Max HP</th>
            <th>Current HP</th>
            <th>New Damage Taken</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: monsters">
        <tr>
            <td><select data-bind="options: $root.monsterOptions, value: monster, optionsText: 'monsterName'"></select></td>
            <td data-bind="text: monster().maxHP"></td>
            <td data-bind="text: monster().currentHP"></td>
            <td><input data-bind="value: newDamageTaken" /></td>
            <td></td>
            <td><a href="#" data-bind="click: $root.removeMonster">Remove Monster</a></td>
        </tr>
    </tbody>
</table>

<button data-bind="click: addMonster">Add another monster</button>