
<div class="container mx-auto">
    <h3>Based on the information you provided, we estimate you would pay</h3>
    <h1>$@ViewBag.Quote per month!</h1>
    <h3>Someone will be contacting you shortly.</h3>
</div>


